{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>

    {% if request.user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">


    {% endif %}
   
    {% block extra_css %} 

    {% endblock %}
</head>

<body>
    {{request.user.username|json_script:"current_user"}}
    {% include 'core/navbar.html' %}
    {% block content %}
    

    {% endblock %}
    
    <div class="to-top" role="button" onclick="goTop()">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#ff6347" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </svg>
    </div>
    <input type="text" id="loggedId" value="{{ request.user.id }}" hidden>
    
<script src="{% static 'core/js/update.js' %}"></script>
<script>var exports = {"__esModule": true};</script>
<script src="{% static 'core/js/formatter.js' %}" ></script>
<script src="{% static 'chat/js/chat_script.js' %}" ></script>
<script>
    
</script>

<script src="{% static 'core/js/utility.js' %}" ></script>

{% block extra_script %}
{% endblock extra_script %}
</body>
</html>