<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="design.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="" class="brand">Majmaul Uloom</a>
            <div class="navbar"></div>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="post">
                <div class="post-head">
                    <div class="image"></div>
                    <div class="name"></div>
                </div>
                <div class="post-body"></div>
                <div class="post-footer"></div>
            </div>
            <hr>
            <div class="post">
                <div class="post-head">
                    <div class="image"></div>
                    <div class="name"></div>
                </div>
                <div class="post-body"></div>
                <div class="post-footer"></div>
            </div>
        </section>
    </main>
</body>
</html>