{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %} 

{% endblock %}

{% block content %} 

<main>
    <section class="content">
        <div class="main-post">
            <div class="main-post-head">
                {% if request.user.profile.image %}
                    <div class="image"> 
                        <a href="{% url 'profile' request.user.pk %}"> 
                            <img src="{{ request.user.profile.image.url }}" alt="">
                        </a>
                    </div>
                {% else %} 
                <div class="image"><img src="/static/core/images/profile.png" alt="" width="50" height="50"></div>
                {% endif %}
                
                <div class="name" role="button" id="default" onclick="showPost()">
                    <p>Create a new post</p>
                </div>

                <div class="post_content" id="post_create" style="display: none;">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ form.content }}
                        <div class="post-bottom">
                            <div>
                                <label for="cars">Post Tag</label>
                                {{ form.tag }}
                            </div>
                            <div>
                                
                                {{ form.image }}
                                <label for="id_image" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" width="30" height="30">
                                        <path fill="#ff6347" d="M13.5,6C12.7,6,12,6.7,12,7.5S12.7,9,13.5,9S15,8.3,15,7.5S14.3,6,13.5,6z M19,2H5C3.3,2,2,3.3,2,5v14c0,1.7,1.3,3,3,3h14
                                        c1.7,0,3-1.3,3-3V5C22,3.3,20.7,2,19,2z M20,13.9L18.1,12c-1.2-1.1-3.1-1.1-4.2,0L13,12.9L10.1,10c-1.2-1.1-3.1-1.1-4.2,0L4,11.9V5
                                        c0-0.6,0.4-1,1-1h14c0.6,0,1,0.4,1,1V13.9z"/>
                                    </svg>
                                </label>
                            </div>
                        </div>
                        <input type="text" name="pstf" value="pstf" hidden>
                        <button type="submit" id="create_post">Post</button>
                        
                    </form>
                </div>


            </div>
        </div>

        
        {% for post in all_posts %}
        <div class="post">
            {% if request.user == post.user %} 
            <div class="edits">
                <a href="{% url 'edit_post' post.pk %}" >Edit</a>
                <a role="button" class="delete_btn" >Delete</a>
            </div>

            <div class="delete_modal" >
                <h4>Are you sure you want to delete this post?</h4>
                <div class="delete_buttons">
                    <a role="button" class="abort" style="background: green;">No</a>
                    <a href="{% url 'delete_post' post.pk %}" id="confirm" style="background: red;">Delete</a>
                </div>
            </div>
            {% endif %}

            <div class="post-head">
                {% if post.user.profile.image %}
                <div class="image"> 
                    <a href="{% url 'profile' post.user.pk %}"> 
                        <img src="{{ post.user.profile.image.url }}" alt="">
                    </a> 
                </div>
                {% else %}
                <div class="hel"><a href="{% url 'profile' post.user.pk %}"> <div class="def-image"></div></a></div>
                {% endif %}
                <div class="name">
                    <p>{{ post.user.username }}</p>
                    <small>{{ post.created }}</small>
                </div>
            </div>

            <div class="post-body">
                
                <div>
                    <p>{{ post.content }}</p>
                </div>
        
            </div>

            {% if post.image %} 
            <img class="image-view-centered update-components-image__image ivm-view-attr__img--centered" src="{{ post.image.url }}" alt="">
            {% endif %}

            <div class="post-footer" {% if post.comment_set.all %} style="justify-content: space-between;" {% else %} style="justify-content: flex-end;" {% endif %}>
                {% if post.comment_set.all %} 
                <span role="button" class="showcomment" >Show Comments</span>
                {% endif %}

                <a role="button" class="comment" >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16">
                            <path fill="#000" d="M3 11.2c0 .1 0 .1 0 0 0 .1 0 .1 0 0zM8.3 1C3.9 1 0 3.6 0 6.6c0 2 1.1 3.7 3 4.7s0 .1 0 .1c-.1 1.3-.9 1.7-.9 1.7L.3 14h2c2.5 0 4.3-1.1 5.1-1.9h.8c4.3 0 7.8-2.5 7.8-5.6S12.6 1 8.3 1zm-.1 10.1H7.1l-.2.2c-.5.5-1.6 1.4-3.3 1.7.3-.5.5-1.1.5-2v-.3l-.3-.1C2 9.7 1 8.3 1 6.6 1 4.2 4.5 2 8.3 2 12 2 15 4 15 6.6c0 2.4-3.1 4.5-6.8 4.5z" class="color444 svgShape"/><path fill="#ff8066" d="M6 7a1 1 0 11-2 0 1 1 0 012 0zM9 7a1 1 0 11-2 0 1 1 0 012 0zM12 7a1 1 0 11-2 0 1 1 0 012 0z" class="color444 svgShape"/>
                        </svg>
                    </svg>
                    <span>Comment</span>
                </a>

            </div>

            <div>
                <form action="" method="post" class="commentForms">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <input type="text" name="comment" value="true" hidden>
                    <input type="text" name="post_id" value="{{ post.id }}" hidden>
                    <button class="comment_btn" type="submit">Comment</button>
                </form>
            </div>

            {% if post.comment_set.all %} 
            
            <div class="comment-space">
                <span role="button" class="hide-comment" >Hide Comments</span>
                {% for comment in post.comment_set.all %}
                <div class="post-head">
                    {% if comment.user.profile.image %}
                    <div class="image"> <a href="{% url 'profile' post.user.pk %}"> <img src="{{ comment.user.profile.image.url }}" alt=""></a> </div>
                    {% else %}
                    <div class="hel"><a href="{% url 'profile' post.user.pk %}"> <div class="def-image"></div></a></div>
                    {% endif %}
                    <div class="name">{{ comment.user.username }}  </div>
                </div>
                <div class="post-body">
                    {% if comment.image %} 
                        <div class="img-div"><img src="{{ post.image.url }}" alt=""></div>
                    {% endif %}
                    <div><p>{{ comment.content }}</p></div>
                    <div>
                        <small>{{ comment.created_at }}</small>
                    </div>
                </div>
                <hr style="width:90%;margin:auto;margin-top:5px">
                {% endfor %}
            </div>
            {% endif %}

        </div>
        {% endfor %}
        
    </section>
</main>

{% endblock %}

{% block extra_script %} 
<script>
    
    let confirmDeleteModal = document.getElementsByClassName("delete_modal");
    let showDeleteModalBtn = document.getElementsByClassName("delete_btn");
    let abortDeleteBtn = document.getElementsByClassName("abort");
    
    for (const deleteBtn in Object.keys(showDeleteModalBtn)) {
        showDeleteModalBtn[deleteBtn].addEventListener('click',function() {
        confirmDeleteModal[deleteBtn].style.display = "block";
        window.onmouseup = function(event) {
                if(!confirmDeleteModal[deleteBtn].contains(event.target)) {
                    confirmDeleteModal[deleteBtn].style.display = "none";
                }
            }
    } );
        
    }

    
    for (const abortBtn in Object.keys(abortDeleteBtn))
        abortDeleteBtn[abortBtn].addEventListener('click',function() {
        confirmDeleteModal[abortBtn].style.display = "none";
    })


    let defaultContainer = document.getElementById('default')
    let postContainer = document.getElementById("post_create")

    let showPost = () => {
        defaultContainer.style.display = 'none';
        postContainer.style.display = 'block';
        window.onmouseup = function(event)  {
                if (!postContainer.contains(event.target)) {
                    postContainer.style.display = "none";
                    defaultContainer.style.display = "block";
                }
        }
        
    } 

    

// </script>
{% endblock %}
